<h2>About domi.link</h2>
<p><a href="https://domi.link">domi.link</a> was created for custom URL shortening purposes related to Dominion (the board game!).</p>
<p>It is managed by responsible members of the Dominion community.</p>
<h2>Featured Dominion Links</h2>
<h4 class="subheading">All domi.links can be found <a href="https://domi.link/list">here</a>.</h4>
<ul>
  <li><a href="https://dominion.games">Dominion Online</a> - <a href="{{site.baseurl}}/dominion">domi.link/dominion</a></li>
  <li><a href="https://discord.gg/vMmmMBu">Dominion Discord</a> - <a href="{{site.baseurl}}/discord">domi.link/discord</a></li>
  <li><a href="https://dominionleague.org">Dominion League</a> - <a href="{{site.baseurl}}/league">domi.link/league</a></li>
  <li><a href="https://dominionleague.org">Dominion Wikipedia</a> - <a href="{{site.baseurl}}/wiki">domi.link/wiki</a></li>
  <li><a href="https://dominionleague.org">Dominion Blog</a> - <a href="{{site.baseurl}}/blog">domi.link/blog</a></li>
</ul>

<p>For more information, including creating your own custom <a href="https://domi.link">domi.link</a> URL redirect, reach out to truffles on Discord (if you don't know who she is, you probably don't want to reach out to her!).</p>

<hr />

<!--
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
-->
