#wrapper {
	max-width: 1200px;
	margin: auto;
}

#thunderheader {
	position: sticky;
	top: 0;
	background-color: #F1EED9;
	z-index: 100;
	padding: 0.83em 0;
	border-bottom: 1px solid #000000
}

#thunderheader h2 {
	margin: 0;
}

#thundersidenav {
	position: fixed;
	height: 100%;
	background-color: #F1EED9;
	z-index: 99;
	padding: 5px 10px;
	border-right: 1px solid #000000;
}

#thundersidenav p {
	margin: 0;
}

#thundersidenav p:hover {
	font-weight: bold;
	background-color: #DDD6A2;
	cursor: pointer;
}

#thundercontent {
	padding: 0px 10px;
}

#thundercontent > div:nth-child(n+3) {
	border-top: 1px solid #00000030;
	margin-top: 10px;
}

.thundertable th {
	border-bottom: 1px solid #000000;
}

.thundertable tr:hover td {
	font-weight: bold;
	background-color: #DDD6A2;
}

.thundertable tr:nth-child(n+3) {
	border-top: 1px solid #00000030;
}

.thundertable th:nth-child(n+2) {
	cursor: pointer;
}

.thundertable .card-cell {
	min-width: 200px;
}

.thundertable .rank-cell {
	min-width: 70px;
	text-align: center;
	border-left: 1px solid #000000;
}

.thundertable .diff-cell {
	min-width: 40px;
	text-align: center;
}

.thunderselect {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	width: 100px;
	height: 30px;
	border: 2px solid #DDD6A2;
	background-color: #FFFFFF;
	margin: 0px 10px;
}

.thunderselect.toggle2e {
	width: 150px;
	height: 100%;
	font-weight: normal;
}

.thunderselect:before {
	color: #706729;
	font-size: 18px;
	position: relative;
	top: 2px;
}

.thunderselect:hover {
	border-color: #706729;
	background-color: #DDD6A2;
}

.thunderselect:hover:before {
	font-weight: bold;
}

.thunderselect:checked {
	border-color: #706729;
	background-color: #706729;
}

.thunderselect:checked:before {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

.thunderselect:checked:hover:before {
    color: #DDD6A2;
	font-weight: normal;
}

.thunderselect#tables-toggle:before {
	content: "Tables";
	left: 23px;
}

.thunderselect#charts-toggle:before {
	content: "Charts";
	left: 22px;
}


.thunderselect.toggle2e:before {
	content: "Show 1E Cards";
	font-size: inherit;
	top: 1px;
	left: 12px;
}

.thunderselect.toggle2e:checked:before {
	content: "Hide 1E Cards";
	left: 18px;
}

	